body{
  background: #f3f5f8;
}
.app{
  display: flex;
}
.sidebar-wrap{
  flex: 1;
  min-width: 300px;
  height: 100vh;
}
.content-wrap{
  flex: 4;
  margin: 0px 10px;
}
.header-wrap{
  margin-bottom: 10px;
}
.map-wrap{

}


.flex{
  display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.flex-1{
  flex: 1;  
}
.flex-justify-content-end{
  justify-content: flex-end;
}
.flex-align-items-center{
  align-items: center;
}

.mr-1{
  margin-right: 0.5rem;
}
.mb-2{
  margin-bottom: 1rem;
}